.task {
  display: flex;
  align-items: center;
  padding-bottom: 10px;

  &__text {
    color: #616161;
    cursor: default;
    padding-left: 10px;
  }

  &__delete {
    margin-left: auto;
    cursor: pointer;
    padding: 10px;
    opacity: 0;
    transition: opacity .2s ease;
  }

  &--completed {
    .task__text {
      color: #9e9e9e;
      text-decoration: line-through;
    }
  }

  &:hover {
    .task__delete {
      opacity: .3;
      &:hover {
        opacity: .8;
      }
    }
  }
}