i {
    &.badge {
        display: block;
        border-radius: 50%;
        flex-shrink: 0;
        &.size {
            &--small {
                width: 10px;
                height: 10px;
            }
            &--normal {
                width: 15px;
                height: 15px;
            }
            &--large {
                width: 20px;
                height: 20px;
            }
        }
    }
}