.checkbox {
  display: flex;
  margin: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px #b0bec5;
  cursor: pointer;
  opacity: .8;

  &--checked {
    box-shadow: none;
  }
  
  &:hover {
    opacity: 1;
  }
}