i {
    &.icon {
        display: flex;
        img {
            width: 20px;
            height: 20px;

            &.tiny {
                width: 14px;
                height: 14px;
            }

            &.small {
                width: 18px;
                height: 18px;
            }

            &.medium {
                width: 22px;
                height: 22px;
            }
            
            &.large {
                width: 26px;
                height: 26px;
            }
        }
    }
}