.folder {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding-left: 15px;
  color: #616161;
  cursor: pointer;
  transition: all .3s;
  
  &.selected {
    background-color: white;
    box-shadow: 1px 1px 2px #e0e0e0;
    &:hover {
        background-color: white;
    }
  }

  &:hover {
    background-color: #fafafa70;

    .folder_delete {
      opacity: .15;
      &:hover {
        opacity: .7;
      }
    }
  }

  .label {
    padding-left: 15px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .folder_delete {
    margin-left: auto;
    opacity: 0;
    transition: opacity .2s ease;
  }
}
